.app {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  max-width: 1248px;
  min-width: 375px;
  margin: 0 auto;
  padding-inline: 24px;

  main {
    flex: 1 0 auto;
    padding-bottom: 48px;
  }
}
