* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto;
}

html,
body,
#root {
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1248px;
  min-width: 1248px;
  margin: 0 auto;
}
