.error-page {
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1 {
    margin-bottom: 24px;
  }
  p {
    color: #707070;
    font-size: 20px;
    line-height: 26px;
    margin-bottom: 65px;
  }
  a {
    margin-bottom: 65px;
  }
}
